@font-face { font-family: abastina; src: url('external/fonts/abastina.otf'); }
@font-face { font-family: josefin; src: url('external/fonts/josefin.ttf'); }

#logo {
    font-family: abastina;
    color: #6B6B6B;
    font-size: 32px;
    text-align: center;
}
#logotext {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 100px;
}
.hiddenlogo {
    display: none;
}
.hiddencontent {
    display: none;
}
.hiddeninfo {
    display: none;
}
a {
    font-family: josefin;
}
a:link {
    text-decoration: none;
    color: #6A6A6A;
}

a:visited {
    text-decoration: none;
    color: #6A6A6A;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:active {
    text-decoration: none;
    color: #6A6A6A;
}
body {
    color: #000;
    background-color: #ccc;
}
#content {
    font-family: josefin;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
}
#nav {
    font-family: josefin;
    color: #6A6A6A;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
}
#footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
}
#outer {
    width: 100%;
    text-align: center;
}
#loading {
    display: inline-block;
    font-family: josefin;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#canvas {
    display: inline-block;
    font-family: josefin;
}
blockquote {
    border-left: 0.5em solid #6A6A6A;
	border-right: 0.5em solid #6A6A6A;
    width: 333px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
